@page "/addproduct"
@inject HttpClient HttpClient
@using Microsoft.Extensions.Logging
@inject ILogger<State> Logger
@inject IJSRuntime JsRuntime
<h3>Add New Product</h3>



<EditForm Model="@stateDto" OnValidSubmit="@HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <p>
    <label>Name</label><br/>
    <InputText id="name" @bind-Value="stateDto.Name" />
    </p>
    <p>
        <label>Invoice Number</label><br />
        <InputText id="InvoiceNumber" @bind-Value="stateDto.InvoiceNumber" />
    </p>
    <p>
        <label>EAN Code</label><br />
        <InputText id="EAN" @bind-Value="stateDto.EAN" />
    </p>
    <p>
        <label>Quantity</label><br />
        <InputNumber id="Quantity" @bind-Value="stateDto.Quantity" />
    </p>
    <p>
        <label>Quantity In Box</label><br />
        <InputNumber id="QuantityInBox" @bind-Value="stateDto.QuantityInBox" />
    </p>
    <p>
        <label>Tax Vat</label><br />
        <InputText id="TaxVat" @bind-Value="stateDto.TaxVat" />
    </p>
    <p>
        <label>GTU</label><br />
        <InputSelect @bind-Value=stateDto.GTU>
            <option value="0">GTU 00</option>
            <option value="1">GTU 01</option>
            <option value="2">GTU 02</option>
            <option value="3">GTU 03</option>
            <option value="4">GTU 04</option>
            <option value="5">GTU 05</option>
            <option value="6">GTU 06</option>
            <option value="7">GTU 07</option>
            <option value="8">GTU 08</option>
            <option value="9">GTU 09</option>
            <option value="10">GTU 10</option>
            <option value="11">GTU 11</option>
            <option value="12">GTU 12</option>
            <option value="13">GTU 13</option>
        </InputSelect>
    </p>
    <p>
        <label>Selle Price Brutto</label><br />
        <InputNumber id="SellePriceBrutto" @bind-Value="stateDto.SellePriceBrutto" />
    </p>
    <p>
        <label>Purchase Price Netto</label><br />
        <InputNumber id="PurchasePriceNetto" @bind-Value="stateDto.PurchasePriceNetto" />
    </p>
    <button @onclick="() =>  HandleSubmit()" class="btn btn-danger">Add Product</button>
</EditForm>



@code {

    private StateDto ? stateDto = new();
    private WarhauseASP.Shared.Counter counter = new();

    private async Task HandleSubmit()
    {
        stateDto.Daty_Bay = Convert.ToString(DateTime.Now);
        stateDto.Profit = Math.Round(counter.SubtractProcent(stateDto.SellePriceBrutto, Convert.ToDouble(stateDto.TaxVat)) - stateDto.PurchasePriceNetto,2);
        stateDto.DifferendVatTax = Math.Round((stateDto.SellePriceBrutto - counter.SubtractProcent(stateDto.SellePriceBrutto, Convert.ToDouble(stateDto.TaxVat))) - (counter.AddProcent(stateDto.PurchasePriceNetto, Convert.ToDouble(stateDto.TaxVat)) - stateDto.PurchasePriceNetto), 2);
        await HttpClient.PostAsJsonAsync("api/Warhause/AddState", stateDto);
        await JsRuntime.InvokeVoidAsync("alert", $"Product was been add {stateDto.Name} {stateDto.DifferendVatTax}");
    }
    private async Task CountSubmit()
    {
        Console.WriteLine();
       // await HttpClient.PutAsJsonAsync($"api/Warhause/EdityState?guid={Id}", state);
    }
}
