@page "/sell"
<h3>Sell</h3>
<input type="text" />

<button class="btn btn-danger" >Sell</button>
@id
@code {
        [CascadingParameter] ModalParameters Parameters { get; set; }

        Guid id { get; set; }
        string name { get; set; }

    protected override void OnInitialized()
    {
        id = Parameters.Get<Guid>("GuidId");
        name = Parameters.Get<string>("NameProd"); 
    }
}
